<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArxOne.Ftp" version="1.9.3" targetFramework="net461" />
  <package id="db4o-devel" version="8.1.184.15492" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.11" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.11" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.11" targetFramework="net452" />
  <package id="System.Data.HashFunction.Core" version="1.8.2.2" targetFramework="net452" />
  <package id="System.Data.HashFunction.Interfaces" version="1.0.0.2" targetFramework="net452" />
  <package id="System.Data.HashFunction.xxHash" version="1.8.2.2" targetFramework="net452" />
</packages>